<h3>＜コメントのページ＞</h3>
<hr>

<!-- ------------------	メニュー	------------------ -->
<table>
  <tr>
    <td><%= link_to '書き込む', new_route_path %></td>
    <td>　</td>
<% if user_signed_in? %>
    <td><%= link_to "ユーザページ", "/users/#{current_user.id}" %></td>
<% else %>
    <td>ユーザページ</td>
<% end %>
    <td>　</td>
<% unless user_signed_in? %>
    <td><%= link_to 'サインアップ', new_user_session_path %></td>
    <td>　</td>
<% end %>

<% if user_signed_in? %>
	<td>ログイン中</td>
	<% else %>
    <td><%= link_to 'ログイン', user_session_path %></td>
<% end %>

    <td>　</td>
    <td><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></td>
  </tr>
</table>

<hr>

<!-- ------------------	メニュー end	------------------ -->



<div id="result">ああああ</div>

<div id="map_canvas" style="width: 200px; height: 300px"></div>
